@model Jogador
@{
    ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/Jogador.css">


@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-controller="Login" asp-action="Index">Logar</a>
}

else
{
    <section class="container-grid cadastro-equipes">
        <form method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data" class="frm-cad-equipe">
            <div class="cadequipe-titulo">
                <h1>Cadastro de Jogadores</h1>
                <hr>
            </div>

            <select class="campo-entrada" id="IdEquipes" aria-label="Default select example" name="Equipes">
                <option selected>Selecione uma Equipe</option>
                @foreach (Equipes equipe in ViewBag.Equipes)
                {
                    <option value=@equipe.IdEquipes>@equipe.Nome</option>
                }
            </select>
            <input class="campo-entrada" type="text" name="Nome" id="nome-jogador" placeholder="Digite o nome do Jogador:">
            <input class="campo-entrada" type="email" name="Email" id="email-jogador"
                placeholder="Digite o Email do Jogador:">
            <input class="campo-entrada" type="password" name="Senha" id="senha" placeholder="Digite a Senha:">
            <button>Cadastrar</button>




        </form>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Equipe</th>
                    <th>&spades;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Jogador jogador in ViewBag.Jogador)
                {
                    <tr>
                        <td>@jogador.IdJogador</td>
                        <td>@jogador.Nome</td>
                        <td>@jogador.Email</td>
                        <td><img src="/img/Equipe/@jogador.Equipes.Imagem" alt="" width="50px"></td>
                        <td>
                            <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador"><img class="yellow-trash" src="~/assets/trash.png" alt=""></a>
                            <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}